@charset "utf-8";
/*CSS document*/


/*
=======
公共样式
=======
*/
.comWidth {
  width: 1000px;
  margin: 0 auto;
}

/*placeholder 兼容*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* WebKit browsers */  
  color: #aaa;  
}  
input:-moz-placeholder,
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
  color: #aaa;
  opacity: 1；
}
input::-moz-placeholder, 
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */  
  color: #aaa;
  opacity: 1；
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */  
  color: #aaa;
}

/*浏览器升级*/
.browserup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: block;
  width: 100%;
  height: 500px;
  background-color: #606a73;
  font: 26px Arial,"Microsoft Yahei";
  color: #fff;
  text-align: center;
}

.browserup .main {
  width: 1000px;
  margin: 100px auto 0;
}

.browserup .title {
  font-size: 46px;
  line-height: 1.3;
}

.browserup .text {
  margin-top: 50px;
  font-size: 20px;
}

.browserup .text a {
  color: #ff9000;
}

.browserup .text a:hover {
  text-decoration: underline;
}

.browserup .browserup-close input {
  margin-top: 50px;
  width: 100px;
  height: 40px;
  background-color: #ff9000;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
} 

.browserup .browserup-close input:hover {
  background-color: #e38101;
}

/*
=======
头部样式
=======
*/

/*
顶部条
*/
.topbar {
  width: 100%;
  height: 32px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e6e6e6;
}

.topbar p {
  float: left;
  font: 12px/32px "宋体";
  color: #7d7d7d;
}

/*登录前*/
.topbar .right {
  float: right;
}

.topbar .right a {
  margin-left: 10px; 
  font: 12px/32px "宋体";
  color: #7d7d7d;
}

.topbar .right a.toplogin {
  font-weight: bold;
  color: #1887e3;
}

.topbar .right a:hover {
  text-decoration: underline;
}

/*登录后*/
.topbar .loggedin-right {
  position: relative;
  float: right;
  /*display: none;*/
}

.topbar .loggedin-right span {
  display: inline-block;
  padding-left: 15px; 
  font: 12px/32px arial,"宋体";
  color: #7d7d7d;
} 

.topbar .loggedin-right span a {
  font: 12px/32px arial,"宋体";
  color: #7d7d7d;
}

.topbar .loggedin-right span a i {
  position: absolute;
  top: 14px;
  right: 55px;
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #1887e3;
}

.topbar .loggedin-right span.type1 a {
  font-weight: bold;
  color: #1887e3;
}

.topbar .loggedin-right span.type1 ul {
  position: absolute;
  top: 40px;
  right: 20px;
  display: none;
  background-color: #fff;
  border-top: 2px solid #1887e3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.topbar .loggedin-right span.type1 ul:before {
  position: absolute;
  top: -12px;
  left: 50%;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #1887e3;
  transform: translateX(-50%);
}

.topbar .loggedin-right span.type1 ul li a {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
}

.topbar .loggedin-right span.type1 ul li a:hover {
  background-color: #1887e3;
  color: #fff;
}




/*LOGO标题*/
.logo {
  height: 100px;
}

.logo .logoimg {
  float: left;
  margin-top: 24px;
}

.logo .info {
  float: right;
  width: 200px;
  height: 44px;
  margin-top: 28px;
  background: url(../img/logo-call-icon.png) left top no-repeat;
  background-size: 42px 42px;
  text-align: right;
}

.logo .info .call {
  margin-bottom: 5px;
  font: 24px/1 Arial;
  color: #1887e3;
}

.logo .info .time {
  font: 12px/1 "宋体";
  color: #999;
}

.logo .info .time em {
  margin-right: 18px;
}

/*
首页导航
*/
.nav {
  width: 100%;
  height: 40px;
  border-top: 1px solid #e3e3e3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.nav .main-nav > li {
  position: relative;
  float: left;
  margin-right: 60px;
  height: 40px;
  line-height: 40px;
}

.nav .main-nav > li > a {
  font: 16px/40px "Microsoft Yahei";
  color: #333;
}

.nav .main-nav > li > a:hover {
  color: #1887e3;
}

.nav .main-nav > li > a.active {
  color: #1887e3;
}

/*.nav .main-nav > li.submenu:hover .sub-nav {
  display: block;
}*/

/*.nav .sub-nav li:hover .third-subnav {
  display: block;
}*/

/*在线题库二级菜单*/
.nav .sub-nav {
  position: absolute;
  top: 40px;
  left: -15px;
  z-index: 99;
  display: none;
  width: 140px;
  height: 420px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.nav .sub-nav li {
  padding: 0 15px;
  width: 140px;
  height: 28px;
  line-height: 28px;
  background: url(../img/subnav-icon.png) 125px center no-repeat;
}

.nav .sub-nav li a {
  /*display: inline-block;
  width: 110px;
  height: 28px;*/
  font: 14px/28px "Microsoft Yahei";
  color: #fff;
}

.nav .sub-nav li:hover {
  background-color: #fff;
  background-image: none;
}

.nav .sub-nav li:hover a {
  color: #333;
}

.nav .sub-nav li.title {
  background-image: none;
  border-top: 1px solid #5d5d5d;
  border-bottom: 1px solid #5d5d5d;
  font: 12px/25px "Microsoft Yahei";
  color: #ff9000;
}

.nav .sub-nav li.title:hover {
  background-color: transparent;
}

/*在线题库三级菜单*/
.nav .sub-nav li .third-subnav {
  position: absolute;
  left: 140px;
  top: 0;
  display: none;
  width: 378px;
  height: 378px;
  padding: 20px;
  background-color: #fff;
  border-top: 2px solid #ff9000;  
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.nav .sub-nav li .third-subnav .item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}

.nav .sub-nav li .third-subnav .item p {
  margin-bottom: 10px;
  font: 18px/1 "Microsoft Yahei";
  color: #1887e3;
}

.third-subnav .item .content span {
  float: left;
  width: 10%;
  font: 14px/28px "Microsoft Yahei";
  color: #939393;
}

.third-subnav .item .content dl {
  float: left;
  width: 90%;
}

.third-subnav .item .content dl dd {
  float: left;
  width: 80px;
  text-align: center;
}

.third-subnav .item .content dl dd a {
  font: 14px/28px "Microsoft Yahei";
  color: #333;
}

.third-subnav .item .content dl dd a:hover {
  color: #1887e3;
}

/*
==========
子页面标题
==========
*/
.subpage-bg {
  width: 100%;
  height: 100px;
  background: url(../img/subpage-bg.jpg) center center no-repeat;
}

.subpage-bg h2 {
  float: left;
  font: 32px/100px "Microsoft Yahei";
  color: #fff;
}

.subpage-bg p {
  float: right;
}

.subpage-bg p a {
  font: 12px/100px "宋体";
  color: #ddd;
}

.subpage-bg p a:hover {
  color: #fff;
}

.subpage-bg p i {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #ddd; 
  margin: 0 10px;
}


/*
=========
回到顶部
=========
*/

.backtop ul {
  position: fixed;
  right: 0;
  bottom: 40px;
}

.backtop ul li {
  width: 50px;
  height: 50px;
  padding-top: 3px;
  margin-bottom: 5px;
  background-color: rgba(24, 135, 227, .7);
  text-align: center;
  letter-spacing: 3px;
  font: 18px/22px "Microsoft Yahei";
  color: #fff;
  cursor: pointer;
}

.backtop ul li a {
  font: 18px/22px "Microsoft Yahei";
  color: #fff;  
}

.backtop ul li.top {
  display: none;
}

.backtop ul li.top a {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/backtop-icon.png) center top no-repeat;
}

.backtop ul li:hover {
  background-color: #1887e3;
}

/*
=========
弹出层
=========
*/
.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.cover .bg {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 998;
  padding: 10px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.cover .bg .heading {
  min-width: 240px;
  height: 40px;
  padding: 0 20px;
  background-color: #1887e3;
  border-radius: 5px 5px 0 0;
  font: 14px/40px Arial,"Microsoft Yahei";
  color: #fff;
}

.cover .bg .heading span.close {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  background: url(../img/cover-close-icon.png) center center no-repeat;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.cover .bg .heading span.close:hover {
  transform: rotateZ(180deg);
}

.cover .bg .content {
  min-width: 240px;
  max-height: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  overflow: auto;
}

/*登录弹出*/
.cover .login span.error {
  display: block;
  font: 12px/1 "宋体";
  color: #ff0000;
  margin: -5px 0 5px;
}

.cover .login input.userinfo {
  width: 240px;
  height: 36px;
  padding: 0 5px;
  margin-bottom: 10px;
  background: #fff url(../img/login-icon.png) 5px -40px no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  text-indent: 25px; 
}

.cover .login input.userinfo1 {
  background: #fff url(../img/login-icon.png) 5px 8px no-repeat;
}

.cover .login input.error { 
  border: 1px solid red; 
}

.cover .login p.miss {
  text-align: right;
}

.cover .login p.miss a {
  font: 14px/30px "Microsoft Yahei";
  color: #444;
}

.cover .login p.miss a:hover {
  text-decoration: underline;
}

.cover .login input.loginsubmit {
  display: block;
  width: 240px;
  height: 42px;
  margin: 10px 0 10px 0;
  background-color: #ff9000;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);
  font: 16px/42px "Microsoft Yahei";
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.cover .login input.loginsubmit:hover {
  background-color: rgba(255, 144, 0, .8);
}

.cover .login p.noaccount a {
  font: 14px/1 "Microsoft Yahei";
  color: #444;
  text-decoration: underline;
}

.cover .login p.noaccount a:hover {
  color: #1887e3;
}

/*提示弹出*/
.cover .prompt p.success {
  font: 14px/34px "Microsoft Yahei";
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.cover .prompt p.wraning {
  color: red;
}

.cover .prompt p.notlogin {
  text-align: center;
}

.cover .prompt p.notlogin a {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  color: #fff;
}

.cover .prompt p.notlogin a.dl {
  background-color: #ff9000;
}

.cover .prompt p.notlogin a.zc {
  background-color: #1887e3;
}

.cover .prompt p.notlogin a:hover {
  opacity: .8;
}

.cover .prompt p.success i {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../img/usercenter/yes-no-icon.png) center 2px no-repeat;
  vertical-align: middle;
}

.cover .prompt label {
  font-size: 14px;  
}

.cover .prompt input.pointtips {
  width: 240px;
  height: 36px;
  padding: 0 5px;
  border: 1px solid #e3e3e3;
  color: #1887e3;
}

.cover .prompt p.info {
  margin: 5px 0 20px;
  color: #777;
  text-indent: 75px;
}

.cover .prompt input.pointtips-list {
  padding: 8px;
  margin-right: 5px;
  background-color: #d9edf7;
  color: #1887e3;
  white-space: nowrap;
  cursor: pointer;
}

.cover .prompt input.confirm {
  display: block;
  width: 100px;
  height: 36px;
  margin-top: 40px;
  margin-left: 100px;
  background-color: #ff9000;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

/*弹出选择老师*/
.cover .selectTeacher > p {
  margin-bottom: 20px;
  font-size: 16px;
}

.cover .selectTeacher > p > span {
  margin: 0 5px;
  font-size: 18px;
  color: red;
}

.cover .selectTeacher .item {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

/*.cover .selectTeacher .item:hover {
  border-color: #1887e3;
}*/

.cover .selectTeacher .active {
  border-color: #ff9000;
}

.cover .selectTeacher .item .left {
  float: left;
  width: 20%;
}

.cover .selectTeacher .item .right {
  float: right;
  width: 80%;
  height: 80px;
}

.cover .selectTeacher .item .right p {
  line-height: 2;
}

.cover .selectTeacher .item .right p.tname {
  border-bottom: 1px dashed #e3e3e3;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 30px;
}

.cover .selectTeacher .item .right p.tname i{
  font-style: normal;
  font-size: 12px;
  margin-left: 10px;
  color: #d3d3d3;
}

.cover .selectTeacher .item i.chooseteacher {
  position: absolute;
  top: 0;
  right: 0;
}

.cover .selectTeacher .item i.chooseteacher input {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
  visibility: hidden;
}

.cover .selectTeacher .item i.chooseteacher label {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border: 1px solid #dadada;
  cursor: pointer;
}

.cover .selectTeacher .item i.chooseteacher label:after {
  position: absolute;
  top: 3px;
  left: 4px;
  content: "";
  width: 9px;
  height: 5px;
  background-color: transparent;
  border: 3px solid #ff9000;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-55deg);
  opacity: .2;
}

.cover .selectTeacher .item i.chooseteacher label:hover:after {
  opacity: .5;
}

.cover .selectTeacher .item i.chooseteacher input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.cover .selectTeacher .choosebtn {
  text-align: center;
  margin: 20px 0;
}

.cover .selectTeacher .choosebtn input {
  height: 30px;
  padding: 0 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.cover .selectTeacher .choosebtn input.yes {
  margin-right: 10px;
  background-color: #ff9000;
}

.cover .selectTeacher .choosebtn input.no {
  background-color: #989898;
}

.cover .selectTeacher textarea {
  width: 500px;
  height: 200px;
  padding: 5px;
  outline: none;
  border: 1px solid #7d7d7d;
  font-size: 16px;
  line-height: 1.5;
  color: #606a73;
  resize: none;
}


/*
=========
页尾
=========
*/
.footer {
  width: 100%; 
  padding: 40px 0 60px;
  border-top: 5px solid #1887e3;
  text-align: center;
}

.footer ul {
  padding-bottom: 20px;
  width: 403px;
  margin: 0 auto;
}

.footer ul li {
  width: 100px;
  float: left;
  text-align: center;
}

.footer ul li + li {
  border-left: 1px solid #777;
}

.footer ul li a {
  font: 14px/1 "Microsoft Yahei";
  color: #555;
}

.footer ul li a:hover {
  color: #1887e3;
}

.footer p {
  color: #999;
}

/*404*/
.bg404 {
  width: 100%;
  height: 20px;
  background-color: #1887e3;
}

.main-404 {
  padding: 40px 0 80px;
}

.main-404 .main {
  padding: 80px 0;
  border: 1px solid #e3e3e3;
  text-align: center;
}

.main-404 .main img {
  margin-bottom: 40px;
}

.main-404 .main p.big {
  font: 36px "Microsoft Yahei";
  color: #333;
}

.main-404 .main p.small {
  margin-bottom: 40px;
  font: 22px/40px "Microsoft Yahei";
  color: #999;
}

.main-404 .main a {
  display: inline-block;
  width: 100px;
  height: 30px;
  background-color: #1887e3;
  font: 16px/30px "Microsoft Yahei";
  color: #fff;
}

.main-404 .main a:hover {
  background-color: #ff9000;
}